body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: bold;
}

nav {
  font-family: 'Ubuntu';
}

p {
  color: #8f8f8f;
}

/* HEADING */
.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* CONTAINER SECTION */
.container-fluid {
  padding: 7% 15%;
}

/* SEACTIONS */
.color-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

.row {
  padding-top: 30px;
}

/* navigation BAR */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.navlink {
  font-size: 1.2rem;
  font-family: "Montserrat-light";
}

/* DOWNLOAD BUTTON */
.download_botton {
  margin: 5% 3% 5% 0;
}

/* TITLE SECTION */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

/* TITLE IMAGE */
.title-image {
  padding-left: 4rem;
  width: 25%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%
}

/* FEATURES */
#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.features-box {
  padding: 0 2.5rem;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  padding-bottom: 3%;
  background-color: #ef8172;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* PRICING */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-coloum {
  padding: 3% 2%;
}

@media (max-width: 980px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 100%;
  }
}

/* FOOTER */
#footer {
  font-family: "Montserrat";
}

.footer-icon {
  margin: 20px 10px;
}
